.carousel{
  margin-top: 60px;
    .carousel-caption__fix {
      bottom: 40%;
      img {
          cursor: pointer;
      }
    }
    .carousel-indicators__fix{
      bottom:10%
    }
    .carousel-indicators li{
      width: 0.8rem;
      height: 0.8rem;
      border-radius:50%;
    }
    .active{
      background-color: #fb4226;
    }
  }