.film__content{
    width: 100%;
    .container{
        .film__content-add{
            .film__content-add-button {
                border-radius: 5px;
                border:none;
                margin: 20px 0;
                background-color: #130CB7;
                padding: 10px;
                color: #fff;
                transition: 0.7s all;
            }
            .film__content-add-button:hover{
                background-color: #E80505;
            }
        }
        .film__content-search{
            button{
                margin-bottom: 20px;
                background-color: #130CB7;
                color: #fff;
            }
        }
        .film__content-body{
            width:100%;
            table{
                width:100%;
                border-collapse: collapse; 
                caption{
                    caption-side: top;
                    background-color: #1bc0e9;
                    padding: 15px;
                    border-radius: 10px 10px 0 0;
                    border: 1px solid #000;
                    border-bottom: none;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 500;
                }
                img{
                    width: 60px;
                    height: 100px;
                    border-radius: 5px;
                }
            }
            thead tr th {
                white-space: nowrap;
            }
            table, th {
                border: 1px solid black;
            }
            .table__button{
                white-space: nowrap;
                i{
                    display: inline-block;
                    font-size: 25px;
                    margin-right: 10px;
                    transition: all 0.5s;
                    cursor: pointer;
                }
                i:nth-child(2):hover{
                    color: #130CB7;
                }
                i:nth-child(3):hover{
                    color: #E80505;
                }
            }   
        }
        .film__content-page{
            text-align: center;
            margin-bottom: 30px;
            button:nth-child(1){
                border: 1px solid #000;
            }
            button:nth-child(2){
                margin: 0 20px;
                cursor: default;
            }
            button:nth-child(3){
                border: 1px solid #000;
            }
        }
            
    }
}